@font-face {
  font-family: 'Mozilla Text';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/assets/fonts/mozilla-text-400.ttf) format('truetype');
}
@font-face {
  font-family: 'Mozilla Text';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(/assets/fonts/mozilla-text-500.ttf) format('truetype');
}
@font-face {
  font-family: 'Mozilla Text';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(/assets/fonts/mozilla-text-600.ttf) format('truetype');
}
@font-face {
  font-family: 'Mozilla Text';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(/assets/fonts/mozilla-text-700.ttf) format('truetype');
}
@font-face {
  font-family: 'Material Symbols Outlined';
  font-style: normal;
  font-weight: 400;
  font-display: block;
  src: url('/assets/fonts/material-symbols.ttf') format('truetype');
}
